@charset "utf-8";

.main, .wrapc.main {
	padding-top: 50px;
}

.main .register {
	padding-top: 0;
}

.main .content .vpwc {
	margin: 0 auto;
}

.main .content .verify_private {
	padding-top: 0;
}

.reg_con input.reg_btns:hover {
	background-position: 0 -80px;
}